<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--    <meta charset="utf-8">-->
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Article details</title>
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>

<div class="container-fluid">
    <div th:if="${article != null}">
        <div class="col">
            <div class="row">
                <label class="id-label" id="id-label" for="id">ID:</label>
                <input class="id" type="text" id="id" name="id" th:value="${article.getId()}" disabled>
            </div>
            <div class="row">
                <label class="url-label" id="url-label" for="url">Url:</label>
                <input class="url" type="text" id="url" name="url" th:value="${article.getUrl()}" disabled>
            </div>
            <div class="row">
                <label class="hostname-label" id="hostname-label" for="hostname">Hostname:</label>
                <input class="hostname" type="text" id="hostname" name="hostname" th:value="${article.getHostname()}" disabled>
            </div>
            <div class="row">
                <label class="title-label" id="title-label" for="title">Title:</label>
                <input class="title" type="text" id="title" name="title" th:value="${article.getTitle()}" disabled>
            </div>
            <div class="row">
                <label class="content-label" id="content-label" for="content">Content:</label>
                <input class="content" type="text" id="content" name="content" th:value="${article.getContent()}" disabled>
            </div>
            <div class="row">
                <label class="rating1-label" id="rating1-label" for="rating1">True:</label>
                <input class="rating1" type="text" id="rating1" name="rating1" th:value="${@ratingService.getArticleRatingCount(article, 'true')}" disabled>
            </div>
            <div class="row">
                <label class="rating2-label" id="rating2-label" for="rating2">False:</label>
                <input class="rating2" type="text" id="rating2" name="rating2" th:value="${@ratingService.getArticleRatingCount(article, 'false')}" disabled>
            </div>
            <div class="row">
                <label class="rating3-label" id="rating3-label" for="rating3">Misleading:</label>
                <input class="rating3" type="text" id="rating3" name="rating3" th:value="${@ratingService.getArticleRatingCount(article, 'misleading')}" disabled>
            </div>
            <div class="row">
                <label class="rating4-label" id="rating4-label" for="rating4">Unverified:</label>
                <input class="rating4" type="text" id="rating4" name="rating4" th:value="${@ratingService.getArticleRatingCount(article, 'unverified')}" disabled>
            </div>
            <div class="row">
                <label class="created-label" id="created-label" for="created">Created:</label>
                <input class="created" type="text" id="created" name="created" th:value="${article.getCreatedAt()}" disabled>
            </div>
            <div class="row">
                <label class="updated-label" id="updated-label" for="updated">Updated:</label>
                <input class="updated" type="text" id="updated" name="updated" th:value="${article.getUpdatedAt()}" disabled>
            </div>
        </div>
    </div>
</div>
</body>
</html>