<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Export</title>

    <!--  jQuery & Datatables  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <!--  Bootstrap css & js  -->
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!--  Bootstrap icons  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <style>
        #file-name{
            width: 40%;
        }

        #file-type{
            width: 15%;
        }

        .export-window {
            width: 500px;
            /*margin: 0 auto;*/
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="export-window">
            <form th:action="@{/export/file}">
                <div class="input-group">
                    <label class="input-group-text" for="file-name">Filename</label>
                    <input type="text" class="form-control" name="filename" id="file-name" value="dataset_12_04_2021" maxlength="40">
                    <select class="form-select" name="filetype" id="file-type">
                        <option value="csv" selected>.csv</option>
                        <option value="xlsx">.xlsx</option>
                    </select>
                    <button class="btn btn-outline-secondary" type="submit">Export</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>