<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ratings</title>
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>

<div class="container-fluid">
    <div th:if="${ratings != null && !ratings.isEmpty()}">
        <table class="table table-dark table-hover">
            <tr>
                <th>ID</th>
                <th>Value</th>
                <th>Article</th>
                <th>User</th>
                <th>Created</th>
                <th>Updated</th>
<!--                <th>Action</th>-->
            </tr>
            <tr th:each="rating : ${ratings}">
                <td th:text="${rating.getId()}"></td>
                <td th:text="${rating.getValue()}"></td>
                <td th:text="${rating.getArticle().getId()}"></td>
                <td th:text="${rating.getUser().getEmail()}"></td>
<!--                <td th:href="@{rating.getArticle().getId()}"></td>-->
<!--                <td th:href="@{rating.getUser().getId()}"></td>-->
                <td th:text="${#dates.format(rating.getCreatedAt(), 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${#dates.format(rating.getUpdatedAt(), 'dd-MM-yyyy HH:mm:ss')}"></td>
<!--                <td>-->
<!--                    <a th:href="@{'/home/view/' + ${article.getId()}}"><i class="fas fa-eye"></i></a>-->
<!--                    <a th:href="@{'/home/edit/' + ${article.getId()}}"><i class="fas fa-edit"></i></a>-->
<!--                    <a th:href="@{'/home/delete/' + ${article.getId()}}"><i class="fas fa-trash"></i></a>-->
<!--                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">modal</button>-->
<!--                </td>-->
            </tr>
        </table>
    </div>
</div>
</body>
</html>