<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--    <meta charset="utf-8">-->
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Users</title>

    <!--  jQuery & Datatables  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <!--  Bootstrap css & js  -->
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!--  Bootstrap icons  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <style>
        .top-buffer { margin-top:20px; }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">User detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-3">
                    <div class="col">
                        <label class="form-label" for="idField">ID:</label>
                        <input class="form-control" type="text" id="idField" disabled>
                    </div>
                    <div class="col">
                        <label class="form-label" for="emailField">Email:</label>
                        <input class="form-control" type="text" id="emailField" disabled>
                    </div>
                    <div class="col">
                        <label class="form-label" for="roleField">Role:</label>
                        <input class="form-control" type="text" id="roleField" disabled>
                    </div>
                </div>
                <div class="row row-cols-2">
                    <div class="col">
                        <label class="form-label" for="enabledField">Enabled:</label>
                        <input class="form-control" type="text" id="enabledField" disabled>
                    </div>
                    <div class="col">
                        <label class="form-label" for="tokenField">Token:</label>
                        <input class="form-control" type="text" id="tokenField" disabled>
                    </div>
                </div>
                <div class="row row-cols-2">
                    <div class="col">
                        <label class="form-label" for="createdField">Created:</label>
                        <input class="form-control" type="text" id="createdField" disabled>
                    </div>
                    <div class="col">
                        <label class="form-label" for="updatedField">Updated:</label>
                        <input class="form-control" type="text" id="updatedField" disabled>
                    </div>
                </div>
                <div class="row row-cols-8 top-buffer">
                    <div class="col-3">
                        <button id="enabled-user-button" type="button" class="btn btn-danger"></button>
                    </div>
                    <div class="col-3">
                        <button id="role-user-button" type="button" class="btn btn-success"></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">User detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <input class="form-control" type="hidden" id="roleInput">

                        <label class="form-label" for="emailInput">Email:</label>
                        <input class="form-control" type="text" id="emailInput">

                        <label class="form-label" for="passwordInput">Password:</label>
                        <input class="form-control" type="password" id="passwordInput">

                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div th:if="${users != null && !users.isEmpty()}">
        <table class="table table-dark table-hover" id="myTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Token</th>
                <th>Role</th>
                <th>Created</th>
                <th>Updated</th>
<!--                <th>Action</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" data-bs-toggle="modal" data-bs-target="#detailModal"
                th:attr="data-id=''+${user.getId()}+'',
                    data-email=''+${user.getEmail()}+'',
                    data-enabled=''+${user.isEnabled()}+'',
                    data-token=''+${user.getToken()}+'',
                    data-role=''+${user.getRole().getName()}+'',
                    data-created=''+${user.getCreatedAt()}+'',
                    data-updated=''+${user.getUpdatedAt()}+''">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.isEnabled()}"></td>
                <td th:text="${user.getToken()}"></td>
                <td th:text="${user.getRole().getName()}"></td>
                <td th:text="${#dates.format(user.getCreatedAt(), 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${#dates.format(user.getUpdatedAt(), 'dd-MM-yyyy HH:mm:ss')}"></td>
<!--                <td>-->
<!--                    &lt;!&ndash;                    <a th:href="@{'/user/' + ${user.getId()}}"><i class="bi bi-trash"></i></a>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <form th:action="@{'/user/' + ${user.getId()}}" th:method="post">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <button class="button-delete" type="submit" id="submitButton"><i class="bi bi-trash"></i></button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </form>&ndash;&gt;-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );

    $('#detailModal').on('show.bs.modal', function (event) {
        let $row = $(event.relatedTarget)
        let $this = $(this)
        $this.find('#idField').val($row.data('id'))
        $this.find('#emailField').val($row.data('email'))
        $this.find('#enabledField').val($row.data('enabled'))
        $this.find('#tokenField').val($row.data('token'))
        $this.find('#roleField').val($row.data('role'))
        $this.find('#createdField').val($row.data('created'))
        $this.find('#updatedField').val($row.data('updated'))

        let $enabledField = $('#enabledField');
        let $enabledButton = $('#enabled-user-button')
        if($enabledField.val() === 'false') {
            $enabledButton.removeClass('btn btn-danger').addClass('btn btn-success');
            $enabledButton.html('Enable account');
        } else if($enabledField.val() === 'true') {
            $enabledButton.removeClass('btn btn-success').addClass('btn btn-danger');
            $enabledButton.html('Disable account');
        }

        let $roleField = $('#roleField');
        let $roleButton = $('#role-user-button')
        if($roleField.val() === 'ROLE_ADMIN') {
            $roleButton.removeClass('btn btn-success').addClass('btn btn-danger');
            $roleButton.html('Demote to USER');
        } else if($roleField.val() === 'ROLE_USER') {
            $roleButton.removeClass('btn btn-danger').addClass('btn btn-success');
            $roleButton.html('Promote to ADMIN');
        }
    })

    $('#detailModal').on('hidden.bs.modal', function () {
        location.reload();
    })

    $(function() {
        $('#enabled-user-button').on('click', function(e) {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");
            let $idField = $('#idField');
            let $enabledField = $('#enabledField');
            let enabledValue = ($enabledField.val() === 'true');

            let json = JSON.stringify({
                id: $idField.val(),
                value: !enabledValue
            })

            e.preventDefault();
            $.ajax({
                method: 'PUT',
                url: 'users/enabled',
                contentType: 'application/json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: json,
                success: function(response) {
                    let $enabledButton = $('#enabled-user-button')
                    if($enabledField.val() === 'false') {
                        $enabledButton.removeClass('btn btn-success').addClass('btn btn-danger');
                        $enabledButton.html('Disable account');
                    } else if($enabledField.val() === 'true') {
                        $enabledButton.removeClass('btn btn-danger').addClass('btn btn-success');
                        $enabledButton.html('Enable account');
                    }
                },
                error: function() {
                    // alert('Error');
                }
            });
            return false;
        });
    });

    $(function() {
        $('#role-user-button').on('click', function(e) {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");
            let $idField = $('#idField');
            let $roleField = $('#roleField');

            let json = JSON.stringify({
                id: $idField.val(),
                role: $roleField.val()
            })

            e.preventDefault();
            $.ajax({
                method: 'PUT',
                url: 'users/role',
                contentType: 'application/json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: json,
                success: function(response) {
                    let $roleButton = $('#role-user-button')
                    if($roleField.val() === 'ROLE_ADMIN') {
                        $roleButton.removeClass('btn btn-danger').addClass('btn btn-success');
                        $roleButton.html('Promote to ADMIN');
                    } else if($roleField.val() === 'ROLE_USER') {
                        $roleButton.removeClass('btn btn-success').addClass('btn btn-danger');
                        $roleButton.html('Demote to USER');
                    }
                },
                error: function() {
                    // alert('Error');
                }
            });
            return false;
        });
    });

    $(function() {
        $('#add-user-button').on('click', function(e) {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");
            // let emailValue = ($('#emailInput').val() === 'true');
            // let passwordValue = ($('#passwordInput').val() === 'true');
            let json = JSON.stringify({
                email: $('#emailInput').val(),
                password: $('#passwordInput').val()
            })
            e.preventDefault();
            $.ajax({
                method: 'POST',
                url: 'users/add',
                contentType: 'application/json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: json,
                success: function(response) {
                    // alert(response['response']);
                },
                error: function() {
                    // alert('Error');
                }
            });
            return false;
        });
    });
</script>
</body>
</html>